[Unit]
Description=Foundernetes Metal Debian
After=systemd-resolved.service remote-fs.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/metal-debian-boot.sh

[Install]
WantedBy=multi-user.target